{{ form_start(form) }}
    {{ form_widget(form) }}

<div class="text-center mt-5">
<button class="btn btn-primary px-5">{{ button_label|default('Enregistrer')}}</button>
</div>
    
    {# <button class="btn">{{ button_label|default('Save') }}</button> #}
{{ form_end(form) }}
