{% extends 'base_client.html.twig' %}

{% block title %}
	Client dashboard
{% endblock %}
{% block mainboard %}
	<div class="content-wrapper">
		<div class="page-header">
			<h3 class="page-title">
				<span class="page-title-icon bg-gradient-primary text-white me-2">
					<i class="mdi mdi-home"></i>
				</span>
				Mon Profile
			</h3>


		</div>

		<div class="row">
			<div class=" grid-margin stretch-card ">
				<div style="background-color: rgb(249, 239, 224);" class="card">
					<div class="card-body">

						<div class="clearfix"></p>


						<section>
							<div class="container py-5">

								<div class="row">
									<div class="col-lg-4">
										<div class="card mb-4">
											<div class="card-body text-center">
												<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
												<h5 class="my-3">
													{{ user.nom|upper }}
													{{ user.prenom |upper }}
												</h5>
												<hr>
													<ul class="text-muted mb-1">
														{% for compte in comptes %}
															<li>
																Numéro de Compte :{{compte.id}}
															</li>
														{% endfor %}
													</ul>
												<hr>
												<p class="text-muted mb-4">
													Numéro de client:
													{{ user.id }}</p>
												<div class="d-flex justify-content-center mb-2">
													<div class="text-end mb-2">
														<a class="btn btn-gradient-info me-2" href="{{path('app_dashboardClient_newMessage')}}">
															<span class="text-white">Modifier votre Profile
															</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-8">
										<div class="card mb-4">
											<div class="card-body">
												<div class="row">
													<div class="col-sm-3">
														<p class="mb-0">Nom</p>
													</div>
													<div class="col-sm-9">
														<p class="text-muted mb-0">{{ user.nom }}
															{{ user.prenom }}
														</p>
													</div>
												</div>
												<hr>
												<div class="row">
													<div class="col-sm-3">
														<p class="mb-0">Email</p>
													</div>
													<div class="col-sm-9">
														<p class="text-muted mb-0">{{ user.email }}
														</p>
													</div>
												</div>
												<hr>
												<div class="row">
													<div class="col-sm-3">
														<p class="mb-0">Téléphone</p>
													</div>
													<div class="col-sm-9">
														<p class="text-muted mb-0">{{ user.telephone }}
														</p>
													</div>
												</div>
												<hr>
												<div class="row">
													<div class="col-sm-3">
														<p class="mb-0">Portable
														</p>
													</div>
													<div class="col-sm-9">
														<p class="text-muted mb-0">
															-
														</p>
													</div>
												</div>
												<hr>
												<div class="row">
													<div class="col-sm-3">
														<p class="mb-0">Address</p>
													</div>
													<div class="col-sm-9">
														<p class="text-muted mb-0">{{ user.adresse }}
														</p>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

