{# <form method="post">
    Nom:<input type="text" value="{{user.nom}}"/>
    <button type="submit">{{ button_label|default('modifier') }}</button> 
    </form> #}
      {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Enregitrer') }}</button>
{{ form_end(form) }}
